body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #7F7F7F;

    .top{
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
         width: 80px;
         height: 30px;
         border: 1px solid black;
         border-radius: 1mm;
         i{
             margin-left: 10px;
             margin-top: 5px;
              color: black;
         }
         
        P{
             font-weight: 600;
         }
        
    }
    .card{
        position: absolute;
        top: 40%;
        left: 30%;
        width: 35rem;
        height: 300px;
        background-color: #fff;
        border-radius: 2mm;

        .top{
            width: 70%;
            background-color: #fff;
            border: none;
            margin-left: 50px;
            h3{
                font-size: 20px;
                color: rgba(0, 0, 0, 0.753);
                font-weight: 800;
            }
            .ico{
                font-size: 25px;
                margin-right: -20px;
               
            }
           
        }

        .middle{
            margin-top: 80px;
            width: 30rem;

            .icon{
                position: relative;
                background-color: rgb(255, 255, 255);
                border: groove;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-left: 50px;
                .insta{
                    position: absolute;
                    color: rgb(255, 0, 98);
                    width: 35px;
                    top: 13px;
                    left: 11px;
                    font-size: 25px;
                   
                }
                .print{
                    position: absolute;
                    color: rgb(255, 0, 200);
                    width: 35px;
                    top: 13px;
                    left: 11px;
                    font-size: 25px;

                }
                .youtube{
                    position: absolute;
                    color: red;
                    width: 35px;
                    top: 13px;
                    left: 10px;
                    font-size: 25px;
                }
                .twit{
                    position: absolute;
                    color: rgb(0, 153, 255);
                    width: 35px;
                    top: 13px;
                    left: 10px;
                    font-size: 25px;
                }
                .whatsapp{
                    position: absolute;
                    color: rgb(7, 177, 58);
                    width: 35px;
                    top: 10px;
                    left: 10px;
                    font-size: 25px;
                }

            }

        }


        .end{
            margin-top: 20px;
            margin-left: 45px;
              .link{
                  width: 500px;

              }
            .input{
               
                width: 350px;
                height: 35px;
            }
            span{
                padding: 8px 4px;
                margin-left: 20px;
                border: none;
                color: red;
            }
            p{

                color: grey;
                font-weight: 600;
            }
        }
    }














































}