.all{
    margin-top: 20px;
    border-top: 2px solid black;
    width: 100%;
    height: 100vh;
    background-color: #F9EAE3;
    
    .round{
        margin-top: 20px;
        margin-left: 27%;
        width: 35rem;
        height: 35rem;
        border-radius: 90mm;
        background-color: #FFC094;
        position: relative;

      

        
    }
    .all-box{
        position: absolute;
        top: 0;
      
        margin-top: 80px;
        margin-left: 80px;



        .card-one{
            width: 380px;
            height: 150px;
            background-color: #fff;
            margin-top: 100px;
            border-radius: 2mm;
            font-weight: 600;


            h1{
               padding-top: 20px;
                margin-left: 10px;
                font-size: 20px;
            }
            .item{
                border-radius: 1mm;
                border:1px solid black;
                text-align: center;
                }
            .item-one{
                width: 90px;
                height: 30px;
                margin-left: 15px;
               
              }
              .item-two{
                width: 80px;
                height: 30px;
                 margin-left: 5px;
              }

              .item-there{
                width: 150px;
                height: 30px;
                margin-left: 5px;
               
             }
             .item-four{
                width: 150px;
                height: 30px;
                margin-left: 15px;
                margin-top: 10px;

               
             }
             .item-five{
                width: 150px;
                height: 30px;
                 margin-left: 5px;
                margin-top: 10px;
               
             }
          



        }
       


        .card-two{
            width: 380px;
            height: 240px;
            border: 1px solid;
            border: none;
            border-radius: 3mm;
            margin-top: 30%;
            background-color: #fff;

            .text{
                margin-left: 20px;
                line-height: 2px;
                margin-top: 20px;
                p{
                    font-size: 15px;
                    font-weight:600;
                    i{
                        color:#FFC094 ;
                    }

                }
            }

            button{
                border: none;
                outline: none;
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 50px;
                 width: 80px;
                 height: 40px;
                 border-radius: 3mm;
                 border: 1px solid black;
                 background-color: #FFC094;
            }

            h1{
                font-size: 20px;
                margin-top: 30px;
                margin-left: 20px;
            }
            .img{
                width: 60px;
                margin-left: 30px;
                object-fit: cover;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    border-radius:50%;
                }
            }
            
        }



        .card-there{
            width: 400px;
            height: 300px;
            background-color: #fff;
            border-radius: 3mm;
            margin-top: 120px;
           

            .text{
               
                margin-left: 20px;
                h1{
                    padding-top: 30px;
                    font-size: 20px;
                   
                }
                p{
                    font-size: 15px;
                    color: grey;
                    font-weight: 600;
                    
                }
            }

            .box{
                margin-top: 40px;
                width: 300px;
                height: 70px;
                margin-left: 25px;
                border: 1px solid black;
                border: groove;
                border-radius: 1mm;
              
                 
                .icon{
                    margin-top: 20px;
                     width: 20px;
                     margin-left: 20px;
                   
                }
            }

            button{
                margin-top: 20px;
                margin-left: 25px;
                border: 1px solid black;
                border-radius: 2mm;
                width: 150px;
                height: 50px;
                font-weight: 600;
                background-color: #FFC094;
            }
 



           
        }
    }

}
