.section{
    width: 100%;
    height: 130vh;
    background-color:#0F0F1B;
    


    .card{
        position: relative;
        width:250px;
        height: 260px;
        margin-bottom: 20px;
        background-color: #1c1b25;
        margin-left: 70px;
        border: none;

       img{
           position: absolute;
           top: 10px;
           left: 12px;
           width: 90%;
           height: 150px;
        
           object-fit: cover;
           border-radius: 3mm;

       }
       .text{
           position:absolute;
           top: 65%;
           left: 32%;
           h3{
             font-size: 15px;
             font-weight: 700;
             color: #fff;
           }
           p{
               font-size: 12px;
               color: grey;
           }
       }
       hr{
           color:gray;
           margin-top: 77%;
           height: 2px;
           width: 100%; 
          
       }
       button{
           position: absolute;
           top: 88%;
           width: 240px;
           border-radius: 4mm;
           border: none;
           outline: none;
           color: #fff;
           font-weight: 600;
           background-color:#292838;
           margin-left: 5px;
       }

    }






























}