


#footer{
    .footer-top{
         width: 100%;
         height: 50vh;
        background-color: #F7F8FC;
         margin-top:0;
      
    }
    hr{
        width: 97%;
        height: 3px;
        background-color: rgb(27, 13, 189);
        display: inline-block;
        margin-left: 30px;
    }

    .footer-middle{
        height: 50vh;
        margin-top: 30px;

        .right{

            a{
                text-decoration: none;
                color: grey;
                cursor:pointer;

               
            }
            .card{
                margin-left: 40px;
                border: none;
            }
            ul{
               .one{
                margin-top:-70%;
               }
               .two{
                   margin-top: -10px;
               }
               .there{
                   margin-top: 10px;
               }
                  
               
            .main-li{  
               
              
                a{
               font-size: 20px;
                color: #000;
                font-weight: 600;
            }

                }
            }

           
           

          
             

           
            
        }
    }


    .footer-end{
        margin-top: 30px;
        color: grey;

        .middle{
            li{
                margin-left: 20px;
               

                a{
                    text-decoration: none;
                    margin-left: -5px;
                    color: grey;
                }
            }
        }

        .right{

              margin-left: 60%;
      
           
            i{
                font-size: 20px;
                margin-left: 20px;
               
            }
        }
    }
 
}
