section{
    width: 100%;
    height: 100vh;
    background-color: #EBEEF3;
   .top{
        margin-left: 30px;
        padding-top: 30px;

        h1{
            font-size: 35px;
            font-weight: 800;
        }


        .button-one{
            width: 180px;
            height: 45px;
            border-radius: 5mm;
            margin-left: 50px;
            background-color: #D4D9DD;
            border: none;
            font-weight: 600;
            color: gray;
          
        }
        .button-two{
            border-radius: 5mm;
            border: none;
            width: 80px;
            height: 45px;
            margin-left: -40px;
            font-weight: 600;
       }

   }

   .bottom{
       margin-top: 50px;
       .card{
           height: 350px;
           border-radius: 2mm;
           margin-left: 20px;
           width: 450px;
           
            h4,h6{
                padding-top: 25px;
                padding-left: 20px;
            }
            h6{
                font-weight: 700;
            }
            .little{
                font-weight: 600;
                color: grey;
                margin-left: 20px;
            }

            p{
                width: 65%;
                color: grey;
                font-weight: 600;
                margin-left: 20px;
            }

       }
       .card-one{
           margin-left: 100px;
       }
       
       button{
           border:1px solid black;
           width:20rem;
           height: 50px;
           margin-left:20px;
           border-radius: 1mm;
           font-weight: 500;
           background-color: #fff;
       }

}
}