
a{
    text-decoration: none;
}
.all{
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: #313236;
    .card-one{
        position: absolute;
        top: 3%;
        left: 20px;
        width: 25%;
        height: 280px;
        background-color: #3E3F43;
        border-radius: 3mm;
     
        .search{
            width: 240px;
            height: 33px;
            margin-left: 20px;
            margin-top: 20px;
            background-color: #313236;
        

            .icon{
                color: #fff;
                margin-left: 10px;
            }
            .input{
              height: 100%;
              padding-left: 10px;
              background-color: #313236;
              border: none;
              outline: none;
             
              
            }
       
        }

        ul{
          margin-left: 20px;
          margin-top: 20px;

          .colorfull-li{
              a{
                color: aqua;
              }
          }
          li{

            line-height: 25px;
              a{
                  color: #fff;
              }
          }
        }

        
    }
 

    .card-two{
        position: absolute;
        top: 47%;
        width: 44%;
        height: 60px;
        background-color: #3E3F43;
        border-radius: 1mm;
        margin-left: 20px;
        .search{
            width: 240px;
            height: 33px;
            margin-left: 20px;
            margin-top: 5px;
            background-color:  #3E3F43;
            border: none;
            i{
                color: #fff;
            }
            .input{
                background-color:#3E3F43;
                border: none;
                outline: none;
            }

        }
      

        .box{
            ul{
                .main-li{
                    margin-top: 18px;
                   
                    padding-right: 15px;
                }
                li{
                    a{
                        color: #fff;
                        margin-left: 20px;
                        font-size: 15px;
                        font-weight: bold;
                       
                    }
                }
                .project{
                    border-radius:4mm ;
                    padding: 5px 15px;
                    background-color: #313236;
                    margin-top: 15px;
                    a{ 
                        display: inline-block;
                        color: aqua;
                        padding-right: 15px;
                      
                    }
                }
            }
        }

      

    }

    .card-there{
        position: absolute;
        top: 60%;
        width: 25%;
        height: 250px;
        background-color: #3E3F43;
        border-radius: 3mm;
        margin-left: 20px;

       .up{
           width: 200px;
           margin-top: 25px;
         
           color: #fff;
           p{
               font-weight: 600;
               padding-left: 10px;
           }
          
           .input-1{
               background-color: #313236;
               border: none;
               outline: none;
               color: #fff;
               border-radius: 1mm;
               margin-left: 45px;
           }
       }
       .down{
           width: 200px;
         
           margin-top:20px;
           P{
               color: #fff;
               padding-left: 10px;
               font-weight: 600;
           }
           .input-2{
               border-radius: 1mm;
               margin-left: 75px;
               border: none;
               outline: none;
               color: #fff;
               background-color: #313236;
           }

       }

       hr{
           width: 300px;
           height: 2px;
           background-color: #272829;
           margin-left: 4px;
           margin-top: 30px;
       }
       .bottom{
           margin-top: 10px;
           p{
               color: grey;
               font-weight: 600;
               margin-left:-30px;
           }

           button{
               border: none;
               background-color: rgb(52, 209, 248);
               border-radius: 4mm;
               color: #fff;
               font-weight: 600;
           }
       }
    }


































}














